#!/bin/bash

HERE=$(pwd)
VENV=${HERE}/.env/bin/activate
if [[ -f ${VENV} ]]; then
    . ${VENV}
fi
EXTRA=${HERE}/.envrc-extra
if [[ -f ${EXTRA} ]]; then
    . ${EXTRA}
fi

export PYTHONPATH=$(pwd):${PYTHONPATH}
